*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Sigmar";
    font-weight: 100;
    letter-spacing: 3px;
    background-color: rgba(63, 110, 104, 0.711);;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 110, 104);
    position: sticky;
    top: 0px;
    z-index: 10;
}
header>h1{
    color: white;
}
.logo{
    transition: 0.5s;
}
.logo:hover{
    transform: rotate(360deg);
}
.house{
    position: absolute;
    left: 95%;
    transition: 0.3s;
}
.house:hover{
    width: 70px;
}
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    bottom: 400px;
    width: 50vw;
    animation: contaner 2s;
  }
  @keyframes contaner{
    0%{right: 55%;}
    100%{right: 0;}
  }
  /* Hide the images by default */
  .mySlides {
    width: 50vw;
    height: 600px;
  }
  .mySlides>img{
    width: 50vw;
    height: 600px;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    left: 47vw;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    width: 50vw;
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .row{
    width: 50vw;
  }
  .column>img{
    width: 160px;
    height: 150px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
.music-box{
    transform: translate(70vw, 50px);
    width: 400px;
    animation: music 2s;
}
@keyframes music{
  from{opacity: 0;}
  to{opacity: 1;}
}
.music-logo{
    border: 5px solid black;
    border-radius: 10%;
}
.diamond{
  position: absolute;
  top: 5px;
  left: 90vw;
  transition: 1s;
}
.diamond:hover{
  transform: rotate(360deg);
}
.titleweb{
  width: 50vw;
  height: 10px;
  position: relative;
  top: 0;
}
.titleweb>p{
  position: relative;
  left: 20%;
  top: 15px;
  font-size: 20px;
  color: white;
}
