*{
    margin: 0;
}
body{
    font-family: "Sigmar";
    font-weight: 100;
    letter-spacing: 3px;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 110, 104);
    position: sticky;
    top: 0px;
}
header>h1{
    color: white;
}
.logo{
    transition: 0.5s;
}
.logo:hover{
    transform: rotate(360deg);
}
.house{
    position: absolute;
    left: 95%;
    transition: 0.1s;
}
.house:hover{
    width: 70px;
}
.Homepage{
    width: 99.2vw;
    height: 100vh;
    background-color: rgba(63, 110, 104, 0.711);
}
.box-title{
    border: 5px solid black;
    border-radius: 5%;
    background-color: rgb(63, 110, 104);
    height: 400px;
    width:400px;
    text-align: center;
    padding: 10px;
    border-radius: 5%;
    color: rgb(248, 248, 248);
    margin: auto;
    position: relative;
    top: 20%;

}
a{
    text-decoration: none;
    color: white;
}
a>p{
    position: relative;
    right: 25%;
    top: 30%;
    font-size: 20px;
}
.like{
    position: absolute;
    left: 50%;
    top: 75%;
    transition: 1s;
}
.like:hover{
    transform: rotate(360deg);
}
.diamond{
    position: absolute;
    top: 5px;
    left: 90vw;
    transition: 1s;
}
.diamond:hover{
    transform: rotate(360deg);
}
.lololoshka{
   position: relative;
   bottom: 400px;
   background-color: 0;
   animation: lololoshka 2s;
}
@keyframes lololoshka{
    from{opacity: 1;}
    to{rotate: 360deg;}
}
.character>p{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 60%;
    left: 10px;
}
.Raja{
    position: absolute;
    top: 30%;
    left: 75%;
    width: 400px;
    height: 200px;
    transition: 1s;
    color: white;
    animation: Raja 2s infinite;
}
@keyframes Raja{
    0%{top: 20%;}
    50%{top: 30%;}
    100%{top: 20%;}
}
.Raja>img{
    width: 100%;
    height: 200%;
}
.dialog{
    position: absolute;
    top: 30%;
    left: 62%;
    width: 200px;
    height: 200px;
    background-color: rgba(63, 110, 104, 0.711);
    border: 5px solid black;
    border-radius: 5%;
    color: white;
    text-align: center;
    padding: 10px;
    transition: 1s;
}
.dialog>a{
    position: relative;
    top: 30%;
    transition: 1s;
}
.dialog>a:hover{
    color: black;
}
